body {
  background: #f4f4f4;
}

nav {
  height: 100px;
  position: fixed;
  font-size: 20px;
}
body input {
  margin-top: 100px;
  width: 100%;
  font-size: 20px;
}

#search-button {
  margin-top: 100px;
  height: 20px;
}

#popular {
  font-size: 25px;
}

.movie-card {
  margin-bottom: 20px;
  border: 1px solid black;
}
